 .u-section-1 {
  background-image: none;
  min-height: 918px;
}

.u-section-1 .u-image-1 {
  width: 1122px;
  height: 722px;
  margin: 135px auto 0 calc(((100% - 1140px) / 2) + -461px);
}

.u-section-1 .u-text-1 {
  margin: -691px calc(((100% - 1140px) / 2) + 626px) 0 calc(((100% - 1140px) / 2) + 222px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 50px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 222px);
}

.u-section-1 .u-icon-1 {
  width: 81px;
  height: 81px;
  margin: 162px auto 0 calc(((100% - 1140px) / 2) + 237px);
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 81px;
  height: 81px;
  margin: -81px auto 0 calc(((100% - 1140px) / 2) + 368px);
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 71px;
  height: 81px;
  margin: -81px calc(((100% - 1140px) / 2) + 318px) 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 71px;
  height: 81px;
  margin: -81px auto 0 calc(((100% - 1140px) / 2) + 499px);
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 81px;
  height: 81px;
  margin: -81px calc(((100% - 1140px) / 2) + 439px) 0 auto;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 682px;
  height: 483px;
  margin: -564px 0 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 769px;
  }

  .u-section-1 .u-image-1 {
    height: 723px;
    margin-top: 72px;
    margin-left: calc(((100% - 940px) / 2) + -675px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -647px;
    margin-right: calc(((100% - 1140px) / 2) + 634px);
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 72px;
    margin-right: calc(((100% - 1140px) / 2) + 537px);
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 147px;
    margin-left: calc(((100% - 1140px) / 2) + 304px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 1140px) / 2) + 511px);
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 1140px) / 2) + 462px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + -24px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 795px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + -228px);
    margin-left: calc(((100% - 720px) / 2) + -675px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -678px;
    margin-right: calc(((100% - 720px) / 2) + 211px);
    margin-left: calc(((100% - 720px) / 2) + 258px);
  }

  .u-section-1 .u-text-2 {
    width: 348px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 116px;
    margin-left: calc(((100% - 720px) / 2) + 118px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + 239px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 58px);
  }

  .u-section-1 .u-icon-4 {
    margin-right: calc(((100% - 720px) / 2) + 289px);
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 720px) / 2) + 168px);
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -427px;
    margin-right: calc(((100% - 1140px) / 2) + 86px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    width: calc(((100% - 1140px) / 2) + 651px);
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    width: calc(((100% - 1140px) / 2) + 651px);
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    width: calc(((100% - 1140px) / 2) + 641px);
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    width: calc(((100% - 1140px) / 2) + 641px);
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    width: calc(((100% - 1140px) / 2) + 651px);
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 382px;
    margin: 0 auto 0 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 218px;
    margin-top: 408px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -566px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 81px;
    margin-top: 23px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-2 {
    width: 81px;
    margin-top: -81px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    width: 71px;
    margin-right: calc(((100% - 340px) / 2) + 58px);
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    width: 71px;
    margin-top: -162px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    width: 81px;
    margin-top: 17px;
    margin-left: calc(((100% - 340px) / 2) + 77px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 241px;
    margin-top: -564px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-text-1 {
  margin: 141px 677px 0 225px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 52px 441px 0 13px;
}

.u-section-2 .u-image-1 {
  width: 814px;
  height: 737px;
  margin: -547px -189px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 577px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 378px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -548px;
    margin-right: -233px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-text-1 {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -167px;
    margin-right: -200px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 489px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 308px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1763px;
}

.u-section-3 .u-text-1 {
  margin: 78px auto 0;
}

.u-section-3 .u-group-1 {
  min-height: 216px;
  height: auto;
  background-image: none;
  width: 519px;
  margin: 73px auto 0 51px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  width: 186px;
  height: 191px;
  margin: -211px 226px 0 auto;
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 252px;
  height: auto;
  background-image: none;
  width: 519px;
  margin: 24px 51px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-icon-2 {
  width: 186px;
  height: 185px;
  margin: -224px auto 0 200px;
  padding: 0;
}

.u-section-3 .u-group-3 {
  min-height: 216px;
  height: auto;
  background-image: none;
  width: 519px;
  margin: 38px auto 0 51px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  width: 183px;
  height: 209px;
  margin: -236px 226px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 151px;
  height: 150px;
  margin: 50px auto 0 84px;
  padding: 0;
}

.u-section-3 .u-group-4 {
  min-height: 216px;
  height: auto;
  background-image: none;
  width: 519px;
  margin: -176px 51px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-icon-5 {
  width: 162px;
  height: 104px;
  margin: -175px auto 0 386px;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 94px;
  height: 48px;
  margin: -76px auto 0 256px;
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 500px;
  margin: 79px 684px 0 36px;
}

.u-section-3 .u-image-1 {
  height: 407px;
  width: 618px;
  margin: -290px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1862px;
  }

  .u-section-3 .u-group-1 {
    min-height: 276px;
    margin-top: 77px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -215px;
    margin-right: 112px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 141px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 154px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    margin-top: -263px;
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -213px;
    margin-left: 258px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 6px;
    margin-left: 163px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 102px;
    margin-right: 520px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -308px;
    margin-right: -98px;
    margin-bottom: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2402px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 76px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -161px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -194px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 252px;
    margin-top: 70px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -230px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-4 {
    width: 129px;
    height: 128px;
    margin-top: 276px;
    margin-left: 45px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -332px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 12px;
    margin-right: 198px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -75px;
    margin-left: 213px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 27px;
    margin-right: 222px;
    margin-left: 78px;
  }

  .u-section-3 .u-image-1 {
    margin: 0 auto 0 39px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2351px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -215px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 149px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 159px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 420px;
    margin-left: 0;
    margin-right: 120px;
  }

  .u-section-3 .u-image-1 {
    height: 356px;
    width: 540px;
    margin-top: -290px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2219px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 94px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 100px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 224px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-4 .u-text-1 {
  margin: 220px auto 0;
}

.u-section-4 .u-image-1 {
  width: 510px;
  height: 510px;
  margin: 90px auto 0 23px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: -421px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 89px;
    margin-left: -50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -422px;
    margin-right: -50px;
    margin-left: 420px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 197px;
    margin-right: 22px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -124px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -133px;
    margin-left: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 37px;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-5 .u-text-1 {
  margin: 109px auto 0;
}

.u-section-5 .u-image-1 {
  width: 680px;
  height: 510px;
  margin: -510px 0 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 28px auto 0 73px;
}

.u-section-5 .u-text-3 {
  margin: -79px 73px 0 auto;
}

.u-section-5 .u-group-1 {
  min-height: 216px;
  height: auto;
  background-image: none;
  width: 357px;
  margin: 8px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 30px;
}

.u-section-5 .u-group-2 {
  min-height: 216px;
  height: auto;
  background-image: none;
  width: 357px;
  margin: -216px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: -184px auto 0;
}

.u-section-5 .u-group-3 {
  min-height: 252px;
  height: auto;
  width: 426px;
  background-image: none;
  margin: 36px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 30px;
}

.u-section-5 .u-image-2 {
  height: 639px;
  margin-top: -68px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -420px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -62px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -90px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 24px;
    height: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -163px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -405px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -77px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 6px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -128px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-group-2 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-6 {
    margin-top: 0;
  }

  .u-section-5 .u-group-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 22px;
    margin-left: 22px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 42px;
}

.u-section-6 .u-text-1 {
  margin: 10px auto;
}